@import "../../../../Style/colors";

.input {
  background-color: $lightBlue4;
  border: 2px solid $lightBlue1;
  min-width: 270px;
  max-width: 270px;
  height: 35px;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
}
