@import "../../../../Style/colors";

.button {
  background-color: $lightBlue1;
  border: none;
  color: $white;
  min-width: 300px;
  max-width: 300px;
  height: 45px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
}

.buttonDisabled {
  background-color: $greyWhite;
  border: none;
  color: $grey;
  min-width: 300px;
  max-width: 300px;
  height: 45px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
}
