@import "../../Style/colors";

.create-course-package {
  &__header {
    font-weight: 300;
    color: $Blue;
    text-align: center;
  }

  &__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
